<h1>Names#match</h1>

<%= form_tag("/names/match", method: "post") do %>
<%= label_tag :your_name, "여러분의 이름" %>
<%= text_field_tag :your_name, "#{@name[:your_name]}" %> <br />
<%= label_tag :your_count, "#{@name[:your_count]}" %> <br />
<%= label_tag :friend_name, "친구 이름" %>
<%= text_field_tag :friend_name, "#{@name[:friend_name]}" %> <br />
<%= label_tag :friend_count, "#{@name[:friend_count]}" %> <br />
<%= label_tag :strokes, "#{@name[:strokes]}" %> <br />
<%= submit_tag "이름 궁합" %>
<% end %>

# <% if current_user %>
# <%= "친구 수: #{current_user.friends_count}명" %> <br />
# <ol>
# <% current_user.match_friends.each do |x| %>
# <li><%= x[:friend_name] %>, <%= x[:hangul] %>, <%= x[:match_forward] %>, <%= x[:match_backward] %></li>
# <% end %>
# </ol>
# <% end %>
